@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  padding: 0px;
  margin: 0px;
  /* font-weight:bold ; */
  font-family: Pretendard Variable, Pretendard,
    -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    Helvetica Neue, Segoe UI, Apple SD Gothic Neo,
    Noto Sans KR, Malgun Gothic, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, sans-serif;
}

header {
  /* height:200px; */
  display: flex;
  text-align: center;
  align-items: center;
  width: 1905px;
  /* height:50px; */
}

main {
  width: 2000px;
}

.header--title-box {
  font-weight: bold;
}

.header--text-box a {
  color: black;
  text-decoration: none;
}

.header--login-container {
  align-items: right;
  padding: 0px 0px 0px 400px;
}

.header--login-box a {
  text-align: right;
  align-items: right;
  text-decoration: none;
  display: inline-block;
  color: #535F5F;
  padding: 0px 1px 0px 0px;
  font-size: 14px;
}

.header--login-box2 a {
  text-align: right;
  align-items: right;
  text-decoration: none;
  display: inline-block;
  color: #535F5F;
  padding: 0px 0px 0px 30px;
  font-size: 14px;
}

.header--title-box {
  background-color: black;
  border: 1px solid black;
}

.footer-container {
  color: gray;
  text-align: center;
}

.header--login-container {
  display: flex;
  margin: auto;
  text-decoration: none;
}

.header--container {
  /* text-align: right; */
  /* margin:auto; */
  width: 100%;
  box-shadow: 0px 1px 7px rgba(24, 0, 0, 0.226);
}

.header--info-box {
  background-color: #f5f5f5;
  margin: auto;
  display: flex;
  width: 550px;
  height: 20px;
  align-items: left;
  padding: 0px 100px 0px 30px;
}

.header--info-box img {
  width: 30px;
  height: 20px;
  /* align-items: left; */
  margin: auto;
}

.header--info-box p {
  flex: 1;
  /* align-items: left; */
  margin: auto;
  font-size: 14px;
  color: #535F5F;
  font-style: Pretendard;
}

.header--search-box {
  width: 380px;
  height: 30px;
  position: relative;
  display: flex;
  margin: 10px 10px;
  border: 2px solid black;
  border-radius: 5%;
  align-items: left;
}

.header--search-box input {
  /* margin: auto; */
  width: 100%;
  /* height: 20px; */
  height: 100%;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 60px;
  border: none;
  outline: none;
  text-align: left;
  text-wrap: unset;
}

.header--search-box i {
  position: absolute;
  top: 7px;
  align-items: left;
}

.header--search-icon img {
  width: 21px;
  height: 21px;
  /* padding: 0px 0px 15px 5px; */
}

#header--search-icon {
  background-color: aquamarine;
}

.header--left-container {
  display: flex;
  /* flex:1; */
  text-align: left;
  justify-content: space-between;
  padding: 0px 20px;
}

.main--menu nav {
  position: fixed;
  top: 10%;
  z-index: 10;
}

/* 헤더: 상단 고정 */
.header--container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  background-color: white;
  z-index: 1001;
  border-bottom: 1px solid #ddd;
}

/* 리스트 간격 띄우기 작업 & 점 없애기 */
nav ul {
  padding: 1%;
  list-style: none;
  margin: 2%;
  display: inline;
}

nav ul li {
  padding: 16px 40px 0px 10px;
  width: 150px;
}

/* nav태그 - ul태그 - 리스트 밑줄 없애기 */
nav ul li a {
  text-decoration: none;
  color: #40474d;
  width: 100%;
  height: 100%;
  position: sticky;
  top: 20%;
  font-weight: bold;
  padding: 0 0 0 20px;
  margin: 0 20px 0 0px;
}

main {
  display: flex;
  /* height: 2000px; */
  max-height: 100%;
  max-width: 100%;
}

.side--bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  padding: 50px 40px 0px 0px;
  border-right: 1px solid #535a5f;
  overflow-y: auto;
  background-color: white;
}

.side--bar-container nav{
  padding: 20px;
  gap:10px;
}

.main--section-container {
  /* flex:1; */
  /* padding: 0px 0px 0px 5px; */
  margin-left: 220px;
  /* 사이드바보다 약간 더 넓게 */
  padding: 20px
}

/* 헤더 바로 아래 영역 */
.main--info-container {
  /* flex:1; */
  text-align: center;
  width: 1500px;
  /* padding: 0 35px 20px 10px; */
  justify-content: space-around;
}

.main--info-title img {
  height: 91.66px;
  flex: 1;
  width: 1665px;
  padding-bottom: 3%;
  /* margin: 50px -250px; */
  padding: 37px 0px 30px 0px;
}

.main--info-banner {
  display: flex;
  padding: 10px 0px 0px 40px;
  margin: auto;
  text-decoration: none;
  font-size: 20px;
  width:1780px;
}


.main--info-image-container {
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
  /* width: 100%; */
  width: 1580px;
  /* height: 100%; */
  height: 313px;
  padding: 0px 140px;
  align-items: center;
}


.main--info-image img {
  /* width: 100%;
  /* height: auto; */
  /* max-width: 100%; */
}

.main--info-image img {
  width: 405px;
  height: 212.85px;
  padding: 0px;
}

.main--info-image-center img {
  width: 450px;
  height: 236.5px;
  box-shadow: 0px 1px 7px rgba(24, 0, 0, 0.87);
}


.info--banner01 {
  background-color: #1f8CE6;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 13.4px;
  width: 3%;
  /* padding: 0.5%; */
  text-align: center;
  font-style: "Pretendard Variable";
  padding: 5px 0px 0px 0px;
}

.info--banner02 {
  background-color: #f5f5f5;
  color: black;
  display: inline-block;
  /* text-decoration: none; */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 14.4px;
  width: 1510px;
  text-align: left;
  font-style: "Pretendard Variable";
  padding: 5px 0px 5px 5px;
  text-decoration: none;
}

.info--banner02 a {
  text-decoration: none;
  color: #666666;
}

/* //////////////////////////////////////////////////////////// */
/* article 기사 영역 */
/* //////////////////////////////////////////////////////////// */



.article--news {
  width: 400px;
  height: 300px;
  text-align: left;
}

.article--container01 {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2%;
}

.news-title {
  padding: 5px 0px;
  font-size: 20px;
  text-decoration: none;
  font-style: "Pretendard Variable";
  /* background-color: blue; */
  color: #333333;
  font-weight: bold;
  text-align: left;
  width: 376.25px;
  height: 94px;
  line-height: 1.8;
  /* margin-left: 0; */
}

.news-contents {
  font-size: 13px;
  text-align: left;
  padding: 12px;
  flex: 1;
  width: 376.25px;
  height: 58px;
  color: #666666;
  line-height: 1.8;
}

.article--container01 img {
  width: 376.25px;
  height: 196.39px;
  text-align: left;
}

.ariticle--container01 div {
  margin: auto;
  /* padding: 30px; */
  margin: 0px 20px;
  align-items: left;
  text-align: left;
}

.news--container {
  text-align: left;
  /* padding-left: 20px; */
}

.author {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.author img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-top: 2px;
}

.author-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.author-top {
  display: flex;
  justify-content: space-between;
  /* ← 양끝 정렬 */
  align-items: flex-start;
}

.author--name {
  font-size: 13px;
  color: #666666;
  text-align: left;
}

.date--time {
  font-size: 13px;
  color: #666666;
  white-space: nowrap;
  margin-right: 12px;
}

.author--position {
  color: #1f8ce6;
  font-size: 11px;
  margin-top: 2px;
}

/* //////////////////////////////////////////////////////////// */
/* footer 영역 */
/* //////////////////////////////////////////////////////////// */


.footer--number-box {
  font-size: 18px;
  padding: 5% 0% 0% 0%;
}

.footer--info-box {
  font-size: 13px;
  padding: 2% 0% 5% 0%;
}

.footer-container {
  border: 1px solid black;
}

/* hover 효과 영역 */

nav ul :hover {
  transform: translateX(10px);
  /*50px 오른쪽으로 이동 */
  transition: transform 0.5s ease;
  text-decoration: underline;
}

.info--banner02:hover{
  text-decoration: underline;
}

.main--info-image-center:hover{
  transform: scale(1.05);
  transition: transform 0.5s ease;
}